/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 14px
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0e314c;
  font-weight: 500;
}
.ptb-80 {
    padding-top: 60px;
}
p {
    color: #6084a4;
    line-height: 1.9;
}